.button {
  padding: 1rem 1.2rem;

  border: var(--border-thin);
  text-align: center;
  font-family: var(--font);
  color: var(--brown-dark);
  transition: .2s;

  &:hover {
    filter: brightness(92%);
    cursor: pointer;
  }
}