@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --orange: #f0a868;
  --orange-light: #ffe8c2;
  --green: #6a8d73;
  --green-light: #f4fdd9;
  --white: #fff8e9;
  --brown-dark: #493b2a;
  --brown-secondary: #685e52;

  --red: #c85418;

  --border-thin: 2px solid var(--brown-dark);

  --primary-font: 'Press Start 2P', system-ui;
}