.navbar {
  padding: 1.5rem 3rem;
  height: 80px;

  top: 0;
  z-index: 1000;
  position: sticky;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo-home {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 7rem;
  }
}

.logo-game {
  display: flex;
  align-items: center;

  img {
    height: 5rem;
  }
}

.menu-icon {
  display: flex;
  justify-content: right;
  align-items: center;

  img {
    height: 3.5rem;
  }
}

.game-title {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--brown-dark);
  font-size: 2rem;
}
