.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1.5rem 3rem;

  background-color: var(--orange-light);
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.logo-home {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    padding: .5rem;
    height: 3.5rem;
  }
}

.logo-game {
  display: flex;
  align-items: center;

  img {
    height: 5rem;
  }
}

.menu-icon {
  display: flex;
  justify-content: right;
  align-items: center;

  img {
    height: 3.5rem;
  }
}

.game-title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}
