.hangman-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 8px;
  max-width: 800px;
  margin: 0 auto;
}

.hangman-container h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.hangman-drawing {
  margin: 20px 0;
}

.word-display {
  margin: 30px 0;
}

.word-display h2 {
  font-size: 2rem;
  letter-spacing: 6px;
  font-family: var(--primary-font);
  color: var(--brown-dark);
}

.game-info {
  margin: 20px 0;
  font-size: 0.9rem;
  font-family: var(--primary-font);
  color: var(--brown-dark);
}

.hangman-result-header {
  margin-top: 0;
  font-size: 1.2rem;
  text-align: center;
}

.hangman-result-word {
  text-align: center;
}

.hangman-result-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin: 3rem 1.5rem 0 1.5rem;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 5px;
  max-width: 700px;
  margin-top: 30px;
}

.letter-btn {
  padding: 15px 10px;
  font-family: var(--primary-font);
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--brown-dark);
  border: var(--border-thin);
  background-color: var(--white);
  cursor: pointer;
  transition: .2s;
}

.letter-btn:hover:not(:disabled) {
  background-color: var(--orange-light);
}

.letter-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.letter-btn.correct {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}

.letter-btn.wrong {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}
